@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: var(--font-base);
    font-size: 16px;
    line-height: 1.5;
}